<footer>
    <section class="grid">

        <section class="left">
            <h2>FOOTER CONTENT</h2>
            <p>Her kan du bruge rækker og kolloner for at organisere dit footer content.</p>
        </section>
        <ul>
            <li><h2>LINKS</h2></li>
            <li><a routerLink="/">Link</a></li>
            <li><a routerLink="/">Link 1</a></li>
            <li><a routerLink="/">Link 2</a></li>
            <li><a routerLink="/">Link 3</a></li>
            <li><a routerLink="/">Link 4</a></li>
        </ul>
        <ul>
            <li><h2>LINKS</h2></li>
            <li><a routerLink="/">Link</a></li>
            <li><a routerLink="/">Link 1</a></li>
            <li><a routerLink="/">Link 2</a></li>
            <li><a routerLink="/">Link 3</a></li>
            <li><a routerLink="/">Link 4</a></li>
        </ul>
    </section>
    <p class="copyright">© 2020 Copyright tedib.dk</p>
</footer>

