footer {
    background-color: royalblue;
    section.grid {
        padding: 1rem;
        margin: 0 10%;
        background-color: royalblue;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width:1050px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

        }
        section.left {
            grid-column: 1 / span 2;

            h2, p {
                color: #fff;
            }
        }
        ul {
            li {
                h2, a {
                    color: #fff;
                } 
            }
        }
    }
    p.copyright {
        padding: .7rem;
        text-align: center;
        background: #204bcc;
        color: #fff;
    }
}