/* Global styles and imports of other style files */
$bg: #ebebeb;
$link: #fafafa;
// $link: #6a6af9;
$linkAct: #e63232;

// Google Fonts import
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');


*, *:before, *::before, *:after, *::after {
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100%;
    background-color: $bg;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main {
    min-height: 100vh;
}

a {
    cursor: pointer;
    text-decoration: none;
    // color: $link;
    // transition: filter 180ms ease-in-out;
    // &:hover {
    //     filter: opacity(.85);
    // }
    &:active {
        color: $linkAct;
    }
}

ul {
    list-style: none;
}

input {
    border: 1px solid #E2E2E2;
    border-radius: 2px;
}

button {
    cursor: pointer;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    &:disabled {
        cursor: unset;
        opacity: .65;
    }
}

.error {
    display: block;
    font-weight: 600;
    font-size: .875rem;
    color: #e63232;
    animation: fade 2000ms ease-in-out forwards;
    padding: 1rem 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}